body{

    
}

.small{
    visibility: hidden;
}

.medium{
    visibility: hidden;
}

.large{
    
}



@media all and (max-width: 300px)  {

    body{
    background-color: red;
    }

    .small{
        visibility: visible;
        font-size: 30px;
    }

    .large{
        visibility: hidden;
    }
}

@media all and (max-width: 768px) and (min-width: 300px)  {

    body{
    background-color: green;
    }

    .medium{
        visibility: visible;
        font-size: 50px;
    }
    }

    .large{
        visibility: hidden;
    }



@media all and (min-width: 768px)  {

    body{
    background-color: blue;
    }

    .large{
        visibility: visible;
        font-size: 30px;
    }
    
}